/* * * * * * * * * * * * * * * * * * *
 *
 *				Global
 *
 * * * * * * * * * * * * * * * * * * */

* {
	padding: 0;
	margin: 0;
	caret-color: rgb(235, 151, 131);
}

*::selection {
	color: #fff;
	background-color: rgb(235, 151, 131);
}

body,
html {
	/* font-size: 12px; */
	height: 100%;
	min-width: 1000px;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	transition: background-color .2s ease,
		color .2s ease;
	cursor: pointer;
}

.icon:hover {
	color: rgb(255, 177, 150);
}

.icon:active,
.icon-active {
	color: rgb(200, 100, 100);
}

#root {
	display: flex;
	width: inherit;
	height: inherit;
}

.left,
.right {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}






/* * * * * * * * * * * * * * * * * * *
 *
 *				Left Part
 *
 * * * * * * * * * * * * * * * * * * */

.left {
	flex: 0 0 20%;
	min-width: 300px;
	-webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2),
		0 16px 24px 2px rgba(0, 0, 0, .14),
		0 6px 30px 5px rgba(0, 0, 0, .12);
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2),
		0 16px 24px 2px rgba(0, 0, 0, .14),
		0 6px 30px 5px rgba(0, 0, 0, .12);
	box-sizing: border-box;
	background-color: rgb(246, 242, 237);
	align-self: flex-start;
}



/* * * * * * * * * * * *
 * * * Left Header * * *
 * * * * * * * * * * * */

.left_header {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem 1rem 2.5rem;
}

.left_header_top {
	display: flex;
	flex: none;
	margin: 2rem 0 1.5rem 0;
	justify-content: space-between;
	align-items: center;
}

/* * * User * * */
.left_header_user {
	display: flex;
	cursor: pointer;
	padding-right:2rem;
}

.left_header_user_avatar {
	flex: 0 0 3.7rem;
	margin-right: 1rem;
	height: 3.7rem;
	border-radius: 1rem;
	background-color: rgb(235, 151, 131);
}

/* * * Name * * */
.left_header_user_name {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
}

/* * * Create BTN * * */
.left_header_createBtn {
	font-size: 1.5rem;
	color: rgb(235, 151, 131);
}


/* * * Search * * */
.left_header_search {
	position: relative;
	flex: auto;
	height: 2.5rem;
	font-size: 1.1rem;
	border-radius: 1rem;
	background-color: #ffffff;
	/* transition: color .2s ease; */
}

.left_header_search_input {
	position: absolute;
	left: 0;
	height: inherit;
	width: calc(100% - 5.5rem);
	box-sizing: border-box;
	margin: 0 2.5rem 0 3rem;
	padding: .6rem 0;
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .05rem;
	font-size: 1rem;
}

.left_header_search_input:empty:before {
	content: 'Search';
	color: gray;
}

.left_header_search_input:focus:before {
	content: none;
}

.left_header_search>svg.icon-search,
.left_header_search>svg.icon-clear {
	position: absolute;
	height: inherit;
	padding: 0 .5rem;
	cursor: default;
	color: #ccc;
}

.left_header_search.left_header_search-active>svg.icon-search,
.left_header_search.left_header_search-active>svg.icon-clear,
.left_header_search>svg.icon-clear:active {
	color: #4b4b4b;
}

.left_header_search>svg.icon-search {
	left: .5rem;
}

.left_header_search>svg.icon-clear {
	display: none;
	right: .5rem;
	cursor: pointer;
}

.left_header_search>svg.icon-clear:hover {
	color: #ccc;
}

.left_header_search>svg.icon-clear.icon-clear_show {
	display: block;
}



/* * * * * * * * * * * *
 * * * Left Main * * * *
 * * * * * * * * * * * */

.left_main {
	flex: auto;
	display: flex;
	flex-direction: column;
}

.left_main_friend {
	flex: auto;
	display: flex;
	padding: 0 2.3rem;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	transition: background-color .1s ease;
}

.left_main_friend_user {
	display: flex;
	align-self: stretch;
	align-items: center;
}

.left_main_friend_user_avatar {
	height: 2.8rem;
	width: 2.8rem;
	margin: 1rem;
	margin-left: 0;
	border-radius: .5rem;
	background-color: rgb(235, 151, 131);
	-webkit-user-drag: none;
}

.left_main_friend:hover,
.left_main_friend-active {
	background-color: rgb(250, 250, 250);
}
.left_main_friend:active {
	background-color: rgba(233, 165, 93,.2);
}



/* * * * * * * * * * * *
 * * * Left Bottom * * * *
 * * * * * * * * * * * */
.left_bottom {
	align-self: flex-end;
	flex: none;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
}

.left_bottom .icon {
	padding: 1rem 1.5rem;
}
.left_bottom-active{
	color: rgb(244,174,58);
}






/* * * * * * * * * * * * * * * * * * *
 *
 *				Right Part
 *
 * * * * * * * * * * * * * * * * * * */

.right {
	flex: auto;
}
